 body{
    background:#f4f4f4; 
    font-family:'Poppins',sans-serif;
    color:#333;
    margin: 0;
    padding:0;
} 
nav{
    background:#2b5876;
    color: white;
    padding:15px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width:100%;
    top: 0;
    z-index: 1000;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}
nav ul li a:hover,.active{
    color: #ff4b5c;
    border-bottom: 2px solid #ff4b5c;
}
.home{
    padding-top: 80px;
    text-align: center;
}
button{
    background: #ff4b5c;
    color: #fff;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}
button:hover{
    background: #e63946;
    transform: scale(1.05);
}
.i{
    margin: 20px;
    font-family: sans-serif;
    font-weight: 5px;
}

.howitwork{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.step{
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}
.step:hover{
    transform: scale(1.05);
}
.step h3{
    font-size: 20px;
    color: #007bff;
}
.step p{
    font-size: 16px;
    color: #555;
}
.input-container{
position:relative;
display:flex;
align-items:center;
width: 100%;
max-width: 400px;
margin: 10px auto;
}
.input-container i{
position:absolute;
left: 15px;
font-size: 18px;
}
.input-container input{
    width: 100%;
    padding: 12px 12px 12px 14px ;
    border-radius: 1px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s;
}
.input-container input:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0,123,255,0.5);

}
.error-message{
    color:red;
font-size: 14px;
text-align: center;
display: block;
margin-top: 5px;
}
@keyframes shake{
    0%,100%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(-5px);}
    75% {transform:translateX(-5px);}
}
.input-error{
    border:2px solid red !important;
    animation: shake 0.3s ease-in-out;
}
.about,.contact{
padding-top: 80px;
text-align: center;
max-width: 800px;
margin: auto;
}
form{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
input,textarea{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.k{

    color: #fff;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}